<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Modifier les informations</h1>
                        </div>
                        <form class="user" #editForm="ngForm" (ngSubmit)="editForm.form.valid && saveData(editForm)">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                    name="prenom" 
                                    #prenomVar="ngModel" [(ngModel)]="member.first_name"
                                    >
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                    name="nom" 
                                    #nomVar="ngModel" [(ngModel)]="member.last_name"
                                    >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    name="email" 
                                    #emailVar="ngModel" [(ngModel)]="member.email"
                                    >
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="examplePhone"
                                    name="phone" 
                                    #phoneVar="ngModel" [(ngModel)]="member.phone"
                                    >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleCivite"
                                    name="civilite" 
                                    #civiliteVar="ngModel" [(ngModel)]="member.civilite"
                                    >
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleUserType"
                                    name="user_type" 
                                    #user_typeVar="ngModel" [(ngModel)]="member.user_type"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="exampleProfileUrl"
                                name="profileUrl" 
                                #profileUrlVar="ngModel" [(ngModel)]="member.profileUrl"
                                >
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user"
                                        id="exampleStatus" 
                                        name="status"
                                        #statusVar="ngModel" [(ngModel)]="member.status"
                                    >
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user"
                                        id="exampleV"
                                        name="__v"
                                        #vVar="ngModel" [(ngModel)]="member.__v"
                                    >
                                </div>
                            </div>
                            <button class="btn btn-primary btn-user btn-block" type="submit">Modifier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
